* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* header */
header {
  top: 0;
  z-index: 10000;
  position: sticky;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* background-color: rgba(51, 139, 255, 0.64); */
}

.logo img {
  margin-left: 150px;
  width: 200px;
  cursor: pointer;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-left: 150px;
}

.menu ul li a {
  transition: color 0.3s;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #333;
}

.contact-button button {
  background-color: #2c9bf3;
  transition: color 0.3s;
  cursor: pointer;
  margin-right: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  padding: 15px 20px;
  border-radius: 999px;
  border: none;
  transition: transform 0.25s ease-out;
}
.contact-button button img {
  width: 16px;
  margin-left: 10px;
}
.contact-button button:hover {
  transform: scale(1.09);
  background-color: #1977c4;
  color: white;
}
.menu ul li a:hover {
  color: #1977c4;
}
.biru-putih {
  background: #468ce8;
  background: linear-gradient(
    0deg,
    rgba(149, 220, 240, 0.61) 11%,
    rgba(51, 139, 255, 0.64) 48%
  );
}

/* section */

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 900px;
}
.section1 img {
  width: 650px;
  margin-left: 100px;
}
.section1 h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
  color: white;
}
.section1 p {
  font-size: 30px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 700px;
  margin-top: 30px;
  color: white;
  line-height: 40px;
}
.section1 button {
  transition: color 0.3s;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  background: #ff4a4a;
  background: linear-gradient(
    50deg,
    rgba(255, 74, 74, 1) 0%,
    rgba(255, 107, 107, 1) 100%
  );
  padding: 15px 20px;
  border: none;
  border-radius: 999px;
  transition: transform 0.25s ease-out;
}
.section1 button:hover {
  transform: scale(1.09);
  background-color: #1977c4;
  color: white;
}
.section1 span {
  color: #ff4a4a;
}

.section2 {
  z-index: 10000;
  position: relative;
  text-align: center;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.box3 {
  box-shadow: 0 6px 100px rgba(29, 19, 19, 0.08);
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1500px;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 100px;
}
.section2 h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}
.section2 img {
  transition: transform 0.25s ease-out;
}
.section2 span {
  color: #ff4a4a;
}
.section2 .box4 {
  padding-top: 100px;
}
.section2 .box4 img {
  width: 130px;
  margin-left: 20px;
  margin-right: 20px;
}
.section2 .box5 {
  padding-top: 20px;
}
.section2 button {
  transition: color 0.3s;
  cursor: pointer;
  margin-top: 200px;
  margin-right: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #2c9bf3;
  background: white;
  padding: 15px 50px;
  border: none;
  border-radius: 999px;
  transition: transform 0.25s ease-out;
  box-shadow: 0 6px 100px rgba(29, 19, 19, 0.08);
}
.section2 button:hover {
  transform: scale(1.09);
}
.section2 .box5 img {
  width: 130px;
  margin-left: 20px;
  margin-right: 20px;
}
.section2 img:hover {
  transform: scale(1.09);
}
.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.section3 img {
  width: 500px;
  margin-right: 300px;
}
.section3 h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 700px;
  color: black;
}
.section3 h1,
.p1,
.p2,
.p3 {
  margin-left: 300px;
}
.section3 span {
  color: #ff4a4a;
}
.section3 p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 550px;
  padding-top: 30px;
}
