/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gaya Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  border-radius: 20px;
}

/* Logo */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Menu Link */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
  /* transition: background 0.3s; */
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 4px;
}
