body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 2px 2px 20px gray;
}

.logo img {
  margin-left: 30px;
  width: 1500px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-left: 60px;
}

.menu ul li a {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

.contact-button button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: solid #5e3bee;
  color: #5e3bee;
  padding: 15px 20px;
  border-radius: 5px;
}
.menu ul li a:hover {
  color: #5e3bee;
}
/* hero */
body {
  background-color: #0a101e;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 200px;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fec544;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 200px;
  font-size: 90px;
  margin-bottom: 24px;
  font-weight: 900;
  color: #fdfeff;
  line-height: 1;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  margin-bottom: 41px;
  color: rgb(169, 173, 184);
  font-weight: 200;
  line-height: 1.2em;
  padding: 0px;
  margin-left: 200px;
}
button {
  margin-left: 200px;
  background-color: #fec544;
  color: #070d1b;
  display: inline-flex;
  justify-content: center;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px;
  border-radius: 50px;
  width: 170px;
  border: none;
}
.hero1 {
  display: flex;
  margin-bottom: 100px;
}
.div1 {
  margin-left: 100px;
  margin-top: 120px;
}
img {
  margin-left: 100px;
  width: 630px;
  height: 610px;
}
.div3 {
  font-size: 24px;
  font-weight: 200;
  color: #fec544;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.gambar-about {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 200px;
}
.div4 {
  display: flex;
}
button {
  transform: translateY(30px);
  transition: all (03s);
}
