p {
  font-family: serif;
  line-height: 2em;
}
i {
  font-family: serif;
  color: red;
}
h1 {
  font-family: serif;
  color: black;
}
h2 {
  font-family: serif;
  color: black;
}
img {
  width: 700;
  height: 500;
}
