body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.kontainer {
  width: 300px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #ccc;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi untuk gerakan dan bayangan */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.kontainer:hover {
  /* Gerakan naik sebesar 10px */
  transform: translateY(-10px);

  /* Menerapkan box-shadow ganda */
  /* Bayangan pertama: Efek "mengangkat" */
  /* Bayangan kedua: Garis ungu solid di bagian bawah */
  border-bottom-color: #800080;
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 5px 0 0 #800080; Garis ungu solid di bagian bawah */
}

p {
  margin: 0;
  color: #333;
}
