.external-css {
  color: blueviolet;
  font-size: 25px;
}
h1 {
  color: brown;
}
p {
  color: blue;
}
h2 {
  color: brown;
}
/* selector{
proreti1: velue;
proreti1: velue;
} */
/* .namanya{} */
/* kalo class pake .
kalo id pake # */