* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* header */
header {
  top: 0;
  z-index: 10000;
  position: sticky;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 1px 1px 10px gray;
}

.logo img {
  margin-left: 100px;
  width: 100px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-left: 50px;
}

.menu ul li a {
  transition: color 0.3s;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.contact-button button {
  margin-right: 100px;
  background-color: white;
  transition: color 0.3s;
  cursor: pointer;
  margin-right: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: solid black 1px;
  color: black;
  padding: 15px 20px;
  border-radius: 5px;
}
.contact-button button:hover {
  background-color: #555;
  color: white;
}
.menu ul li a:hover {
  color: #555;
}

/* section-1 */
.section-1 img {
  width: 100%;
}
.section-1 {
  position: ;
  background-color: #f5fcff;
}
.left button {
  transition: color 0.3s;
  font-size: 15px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 15px 50px;
  border: solid white 1px;
  background-color: #211c24;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.left {
  top: 0;
  position: absolute;
  margin: 0 auto;
  margin-left: 50px;
  margin-top: 400px;
  margin-left: 200px;
}
.left span {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 100px;
}
.left h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  font-weight: 600;
}
.left p {
  color: #555;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.left p2 {
  color: #555;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
/* section-2 */

.section-2 img{
  width: 1055px;
justify-content: center;
}
