* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: brown;
}
div {
  padding: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-links {
  list-style: none;
  display: flex;
  padding: 16px;
}
a {
  text-decoration: none;
  margin-left: 20px;
}
