* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.box-1 {
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 320px;
  margin-top: 100px;
  margin-left: 60px;
  gap: 20px;
}
.box-1 img {
  border-radius: 10px 10px 10px 10px;
  padding-top: 15px;
  width: 370px;
  justify-content: center;
  display: block;
  margin: auto;
}
.box-1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
  padding-top: 10px;
}
.box-1 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-top: 20px;
}
.flex-1 p {
  padding-top: 10px;
  padding-right: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.flex-1 {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

/* media query mobile */
@media screen and (max-width: 767px) {
  main {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
  }
  .box-1 {
    margin: auto;
    margin-top: 60px;
  }
}

/* media query tablet */
@media screen and (max-width: 1024px) {
  main {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
  }
  .box-1 {
    margin: auto;
    margin-top: 60px;
  }
}
