h1 {
  color: blue;
  font-family: serif;
  background-color: black;
}
h2[type="text"] {
  color: brown;
  font-family: fantasy;
}
#cihuy {
  color: blueviolet;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.abudzar {
  color: tomato;
}
/* [type="text"] */
/* # pake (id) */
/* . pake (class) */