#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* kebalikan */
  /* flex-direction: row-reverse; */
}
.flex-item {
  flex-basis: 100px;
  height: 100px;
  margin: 4px;
  padding: 20px;
  background: #ec5453;
  font-size: 60px;
  color: white;
  text-align: center;
}
